@import url('https://fonts.googleapis.com/css2?family=Borel&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Rocker&display=swap');
@import "tailwindcss";
@source "../views";

@theme {
  --font-primary: "Montserrat", sans-serif; 
}
